@page "/Engagements"
@inject RemindServices RemindServices
@inject IModalService Modal


@if (listeEngags == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else
{
    

    <button @onclick="@(() => ShowEdit(Actions.New))" class="btn btn-primary"><span class="oi oi-plus"></span></button>
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Libelle</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Engagement in listeEngags)
            {
            <tr>
                <td>@Engagement.Code</td>
                <td>@Engagement.Libelle</td>
                
                <td><button @onclick="@(() => ShowEdit(Actions.Edit,Engagement.ID))" class="btn btn-primary"><i class="oi oi-pencil"></i></button></td>
                <td><button @onclick="@(() => ShowEdit(Actions.Delete,Engagement.ID))" class="btn btn-danger"><i class="oi oi-trash"></i></button></td>
            </tr>
            }
        </tbody>
    </table>
}

@code {

    public  List<Engagement> listeEngags;

    protected override async Task OnInitializedAsync ()
    {
        listeEngags = await RemindServices.GetEngagAsync();
    }
    void ShowEdit(Actions actions,int? EngagementID=null)
    {
        var parameters = new ModalParameters();
        if(EngagementID !=null)parameters.Add("EngagementID", EngagementID);
        parameters.Add("Action",actions);
        Modal.Show<EngagEdit>("Formulaire Engagement", parameters);
        Modal.OnClose += RefreshEngagements;
    }

    async void  RefreshEngagements(ModalResult modalResult)
    {
        if (!modalResult.Cancelled)
        {
            listeEngags= (List<Engagement>) modalResult.Data ;
            this.StateHasChanged();
              listeEngags = await RemindServices.GetEngagAsync();
        }

        Modal.OnClose -= RefreshEngagements;
    }
}
