@using App
@using NumberToWordConverter
@model DAL.Model.Echeance

@{
    Layout = null;
    ViewData["EchappMontEch"] = (Convert.ToInt32(Model.EchappMontEch)).ToWord(NumberExtension.LiteralNumberFormat.Normal);
}
<!doctype html>
<html lang="fr-fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Facture Loyer</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>

    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <span>Date facturation: @DateTime.Today.ToShortDateString()</span>
        </div>
    </div>
    <div class="row ">
        <div class="center-block">
            <h2 class="text-center">FACTURE DE LOYER N°: @Model.EchappNumero</h2>
        </div>
    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="col-md-4">
            <p>
                02 AVENUE SYLVANUS OLYMPIO,LOME<br>
                LOME TOGO
            </p>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-3 col-md-offset-2">
            <h4 class="font-weight-bold">
                Dossier n° @Model.DossierNumero
            </h4>
        </div>

        <div class="col-md-6 col-md-offset-1" style="background-color: grey;">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Matricule: &nbsp;</td>
                        <td>@Model.EtcivMatricule</td>
                    </tr>
                    <tr>
                        <td>Nom Client : &nbsp;</td>
                        <td>@Model.EtcivNomreduit</td>
                    </tr>
                    <tr>
                        <td>Adresse Poste: &nbsp;</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td>Adresse Géo: &nbsp;</td>
                        <td>@Model.EtcivAdressGeog1</td>
                    </tr>
                    <tr>
                        <td>Registre du commerce: &nbsp;</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td> Compte Contribuable : &nbsp;</td>
                        <td>@Model.EtcivNumcptContrib</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <p class="text-justify lead">
                Nous avons l'honneur de soumettre à votre aimable règlement le montant de la facture ci-dessous
                correspondant à la periode @Model.EchappDate.ToPeriode()
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th class="text-center" rowspan="2">PERIODE</th>
                    <th class="text-center" rowspan="2">MONTANT HT</th>
                    <th class="text-center" colspan="2">TVA</th>
                    <th class="text-center" rowspan="2">MONTANT TTC</th>
                </tr>
                <tr>
                    <th class="text-center">Taux (%)</th>
                    <th class="text-center">Montant</th>
                </tr>
                <tr>
                    <td>
                        <p class="text-justify">
                            Loyer de credit-bail @Model.EchappDate.ToPeriode()
                        </p>
                    </td>
                    <td class="text-right">@(Convert.ToInt32(Model.EchappMontEch - Model.EchappMontTaxe))</td>
                    <td class="text-right"></td>
                    <td class="text-right">@(Convert.ToInt32(Model.EchappMontTaxe))</td>
                    <td class="text-right" style="background-color: grey;"><strong>@(Convert.ToInt32(Model.EchappMontEch))</strong> </td>
                </tr>
                <tr style="background-color: grey;">
                    <td colspan="4" class="text-right"><strong>TOTAL TTC</strong> </td>
                    <td class="text-right"><strong>@(Convert.ToInt32(Model.EchappMontEch))</strong> </td>
                </tr>
            </table>
        </div>
    </div>
    <div class=" row">
        <div class="col-md-12">
            <p class="text-justify">
                Arrèté la présente facture à la somme de :
                <strong>
                    <br />
                    <em> @ViewData["EchappMontEch"] francs CFA</em>
                </strong>
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 5px; margin-top:40px;">
        <div class="col-md-12">
            <strong>
                <ins>Modalité de Règlement:</ins> <br>
                Payable au plus tard deux semaines après réception de la présente facture.
            </strong>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
            crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
</body>
</html>